<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Рыбки жи есть</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<header class="header">	
		<div class="backbrat">
			<div class="conteiner">
				<div class="navi">
					<ul class="menu">
						<li class="pod"><a href="#">главная</a></li>
						<li class="pod"><a href="#">о нас</a></li>
						<li class="pod"><a href="#">рыбки</a></li>
					</ul>
					<img src="../img/logo.svg" alt="fishbro" class="logo">
					<ul class="menu1">
						<li class="pod"><a href="#">корм</a></li>
						<li class="pod"><a href="#">адресс</a></li>
						<li class="pod"><a href="#">рыбки</a></li>
					</ul>
				</div>
				<div class="zagolovok">
					<h1 class="h1">Твой чешуйчатый друг !</h1>
					<h2 class="h2">Огромное разнообразие морских друзей в твой аквариум.</h2>
					<div class="button">
						<div class="baton">
							<a href="#">Ознакомится</a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</header>
	<section class="other">
		<div class="box">
			<div class="boxcol_o">
				<p class="omg"><img src="img/inf/fish.png"></p>
				<p class="lox"><img src="img/inf/line.png"></p>
				<p class="zopa">Большая разновидноть видов, вы точно найдете что-то оп душе!</p>
			</div>
			<div class="boxcol_t">
				<p class="omg"><img src="img/inf/star.png"></p>
				<p class="lox"><img src="img/inf/line.png"></p>
				<p class="zopa">Не только рыбки но , и остальное разнообразие морского мира.</p>
			</div>
			<div class="boxcol_f">
				<p class="omg"><img src="img/inf/heard.png"></p>
				<p class="lox"><img src="img/inf/line.png"></p>
				<p class="zopa">Все рыбки здоровые и находятся в отличных условиях</p>
			</div>
		</div>
	</section>
	<section>
		<div class="other_two">
			<div class="kontengent">
				<div class="kybik">
					<div class="kartinka">
						
					</div>
				</div>
				<div class="info">
						<div class="namefish">
							<h2 align="center">Золотая рыбка</h2>
						</div>
						<div class="infofish">
							<p>Золотая рыбка одна из самых распространеных рыбок. Многие считают что она может исполнить желание. Но это не так.</p>
						</div>
						<div class="flexerus">
							<div class="dengi">		
									<p><span class="zirni">Кол-во:<input type="text" name="kolvo"></span><span class="zirni">  1x5000р.</span><input type="image" align="right" src="img/fr/corsina.svg" alt="ОК"></p>
							</div>
							
						</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="dno">
			<div class="midledno">
				<div class="samoedno">
					<p class="txtxt">Золотые рыбки кол-во: 0</p>
					<p class="txtxt">Рыба-клоун кол-во: 0</p>
					<p class="txtxt">Морские звезды кол-во: 0</p>
					<p class="txtxt">Мальки кол-во: 0</p>
					<p class="txtxt">Корм кол-во кг.: 0</p>
					<div class="bob">
						<p><input type="button" name="buy">Купить</p>
					</div>
					<div class="logo2">
						<img class="broo" src="img/logo2.svg">
						<p class="gavnoid" align="center">Все прова в провах</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>